*:not(input) {
    user-select: none;
}

.main {
    background-image: url('../../../assets/global-background.png');
    background-position: bottom;
    flex-direction: column;
}

.clipper, .players-avatars-wrapper, .game-content-wrapper, .hearts {
    margin-bottom: 40px;
}

.players-avatars-wrapper {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-evenly;
}

.player-avatar {
    height: 75px;
    width: 75px;
    border: 5px solid #000000;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    font-size: 65px;
    font-weight: 700;
    cursor: pointer;
    background-size: cover;
}

.player-avatar-out {
    border-color: red;
}

.player-avatar-correct {
    border-color: green;
}

.player-avatar-placeholder {
    visibility: hidden;
}

.game-wrapper {
    font-size: 20px;
    font-weight: bolder;
}

.game-content-wrapper {
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.interaction-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.kanji {
    height: 200px;
    width: 200px;
    border-radius: 16px;
    border: 5px solid #000000;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanji > p {
    font-size: 120px;
    margin-left: 10px;
    margin-top: 15px;
}

.hearts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearts > span {
    color: #ff0000;
}

.timer {
    color: #2B2D42;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer, .question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    border: 3px solid #2B2D42;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    text-align: center;
    text-transform: uppercase;
}

.question-input {
    background-color: #2B2D42;
    color: #FFFFFF;
}

.answer-input {
    background-color: transparent;
}

input:focus {
    outline: 0;
}

.clipper-wrapper {
    display: flex;
    justify-content: center;
    width: 600px;
}