<!-- <div class='main'>
    <p>{{ this.lobbyID }}</p>
</div> -->

<div class="main">
  <div
    class="animation-wrapper"
    [@TVanimation]="swipe"
    (@TVanimation.done)="swipe = 'default'"
  >
    <div class="clipper-wrapper">
      <img src="../../../assets/clipper.png" class="clipper" />
    </div>

    <div class="players-avatars-wrapper" #avatarsWrapper>
      <div
        class="player-avatar player-avatar-placeholder"
        #avatarsPlaceholder
      ></div>
    </div>

    <div class="game-wrapper">
      <div class="game-content-wrapper">
        <div class="kanji">
          <p #kanjiCharacter></p>
        </div>

        <div class="interaction-wrapper">
          <div class="question">
            <p>I want:</p>
            <input
              #categoryLabel
              type="text"
              class="question-input"
              value="category"
              disabled
            />
          </div>
          <div class="answer">
            <p>Your answer:</p>
            <input
              #answerInput
              class="answer-input"
              type="text"
              name="answer"
            />
          </div>
        </div>
      </div>
      <div class="hearts">
        <span #heart>❤</span>
        <span #heart>❤</span>
        <span #heart>❤</span>
      </div>
      <div class="timer">
        -
        <div class="time" #timerLabel>CONNECTING</div>
        -
      </div>
    </div>
  </div>
  <div class="frame"></div>
</div>
