<div class="main">
  <div
    class="animation-wrapper"
    [@TVanimation]="swipe"
    (@TVanimation.done)="swipe = 'default'"
  >
    <div class="clipper-wrapper">
      <img src="../../../assets/clipper.png" class="clipper" />
    </div>

    <div class="find-game-menu-wrapper">
      <div class="level-button">
        <img src="../../../assets/small.png" width="65px" height="65px" />
      </div>
      <div
        class="find-game-button"
        (click)="connectDisconnect()"
        #findGameButton
      >
        Find game
      </div>
    </div>

    <div class="in-queue">
      <div class="players-counter">
        <div class="player-dot"></div>
        <div class="player-dot"></div>
        <div class="player-dot"></div>
        <div class="player-dot"></div>
        <div class="player-dot"></div>
      </div>
      <div class="timer">
        -
        <div class="time">01:21</div>
        -
      </div>
    </div>
  </div>
  <div
    class="frame"></div>
</div>
