.main {
    background-image: url('../../../assets/global-background.png');
    background-position: bottom;
    flex-direction: column;
}

//.main > *:not(:nth-last-child(-n+2)) { // (-n+2) = dwa ostatnie elementy
//    margin-bottom: 40px;
//}

.clipper, .find-game-menu-wrapper, .players-counter {
    margin-bottom: 40px;
}

.main, .find-game-menu-wrapper, .players-counter, .timer, .level-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-game-menu-wrapper, .players-counter {
    flex-direction: row;
}

.level-button {
    height: 100px;
    width: 100px;
    border: 5px solid #000000;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    font-size: 65px;
    font-weight: 700;
    cursor: pointer;
}

.find-game-button {
    width: 200px;
    height: 35px;
    background-color: #2B2D42;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 40px;
    cursor: pointer;
}

.player-dot {
    width: 20px;
    height: 20px;
    background-color: #2B2D42;
    border-radius: 50%;
}

.player-dot:not(:last-child) {
    margin-right: 30px;
}

.timer {
    color: #2B2D42;
    font-weight: 700;
    font-size: 20px;
}

.in-queue {
    display: none;
}

* {
    user-select: none;
}