<div class='view' (mousewheel)="onScroll($event)" #view>
    <div class='navigation-menu' #navigation>
      <div class='navigation-menu-option'> <div class='navigation-menu-square current-page'></div> <p class='visible'>START</p> </div>
      <div class='navigation-menu-option'> <div class='navigation-menu-square'></div> <p>LOBBY</p> </div>
      <div class='navigation-menu-option'> <div class='navigation-menu-square'></div> <p>PROFILE</p> </div>
      <div class='navigation-menu-option'> <div class='navigation-menu-square'></div> <p>DICTIONARY</p> </div>
    </div>
  
    <app-start #start></app-start>
    <router-outlet #lobby></router-outlet> <!-- search/lobby -->
    <app-profile #profile></app-profile>
    <app-dictionary #dictionary></app-dictionary>
  </div>
  