.view {
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}

// -- NAVIGATION MENU --
.navigation-menu {
    position: fixed;
    left: 60px;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 700;
    font-size: 16px;
    z-index: 5;
}

.navigation-menu .navigation-menu-option {
    display: flex;
    align-items: center;
}

.navigation-menu .navigation-menu-square {
    width: 20px;
    height: 20px;
    background-color: #2B2D42;
    margin-right: 8px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.navigation-menu-option {
    margin-bottom: 16px;
}

.navigation-menu-option:last-child {
    margin-bottom: 0;
}

.navigation-menu-option p {
    user-select: none;
    visibility: hidden;
}

.current-page {
    width: 50px !important;
}

.visible {
    visibility: visible !important;
}

.hide {
    visibility: hidden !important;
}