<div class="main">
  <div
    class="animation-wrapper"
    [@TVanimation]="swipe"
    (@TVanimation.done)="swipe = 'default'"
  >
    <p>dictionary works!</p>
  </div>
  <div class="frame"></div>
</div>
