/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;
  //line-height: 23px;
  letter-spacing: 0.1em;
}

// -- BACKGROUND LOOK --
.main {
  background-color: #edf2f4;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  content: "";
  border: 5px solid #2b2d42;
  position: absolute;
  height: calc(100vh - 30px);
  width: calc(100vw - 30px);
  padding: 30px;
  z-index: -1;
}

*::-webkit-scrollbar {
  display: none !important;
}
