*:not(input) {
  user-select: none;
}

.main {
  background-image: url("../../../assets/global-background.png");
  background-position: bottom;
  flex-direction: column;
  text-transform: uppercase;
}

.clipper-wrapper {
  display: flex;
  justify-content: center;
  width: 600px;
}

input:focus {
  outline: 0;
}

.search-block {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.search-block > img {
  width: 40px;
  height: 40px;
}

.animation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-avatar {
  height: 75px;
  width: 75px;
  border: 5px solid #000000;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  font-size: 65px;
  font-weight: 700;
  cursor: pointer;
  background-size: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  font-weight: bolder;
}

.user-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.animation-wrapper > *:not(:last-child),
.user-desc > *:not(:last-child),
.user-label {
  margin-bottom: 40px;
}

input {
  border: 3px solid #2b2d42;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bolder;
}

.user-desc > p {
  font-weight: bolder;
  color: #EF233C;
}

.user-desc > p > span {
  color: #000000 !important;
}

.about-me > span {
  text-transform: none;
}