<div class="main">
  <div
    class="animation-wrapper"
    [@TVanimation]="swipe"
    (@TVanimation.done)="swipe = 'default'"
  >
    <div class="clipper-wrapper">
      <img src="../../../assets/clipper.png" class="clipper" />
    </div>

    <div class="search-block">
      <img src="../../../assets/settings.png" />
      <input type="text" />
      <img src="../../../assets/search.png" />
    </div>

    <div class="user-info">
      <div class="user-label">
        <div class="player-avatar"></div>
        <p>Username</p>
      </div>

      <div class="user-desc">
        <p class="join-date">Joined: <span>19-07-2021</span></p>
        <p class="ranking">Ranking: <span>Intermediate</span></p>
        <p class="about-me">
          About me: <br />
          <span>Ok so basically i'm very smol + i'm monke</span>
        </p>
      </div>
    </div>
  </div>
  <div class="frame"></div>
</div>
