.main {
    background-image: url('../../../assets/start-background.png');
    background-position: bottom;
}

.frame {
    mix-blend-mode: color-dodge;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-button {
    font-size: 16px;
    background-color: #2B2D42;
    border-radius: 8px;
    border: 0;
    padding: 4px 8px;
    margin-bottom: 16px;
    color: #FFFFFF;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.start img {
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}


.blinds {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.blinds button {
    cursor: pointer;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 150px;
}

form * {
    position: relative;
    background-color: transparent;
    color: white;
    border: white 2px solid;
    padding: 5px;
}

form *:focus {
    outline: 0;
}

.button {
    color: #2b2d42;
    mix-blend-mode: color-dodge; //soft-light
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.75s;
}

.button:hover {
    mix-blend-mode: normal;
    transform: scale(1.05);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    position: absolute;
    top: 25px;
    left: 30px;
}
