<div class="main">
  <div
    class="animation-wrapper"
    [@TVanimation]="swipe"
    (@TVanimation.done)="swipe = 'default'"
  >
    <div class="start">
      <button class="start-button" (click)="goNext()">START YOUR BATTLE</button>
      <img src="../../../assets/arrow-bellow.png" (click)="goNext()" />
    </div>
  </div>

  <div class="blinds" *ngIf="this.signUp">
    <form>
      <input type="text" placeholder="username" required #r_username />
      <input type="password" placeholder="password" required #r_password />
      <input type="password" placeholder="repeat password" required #r_repated_password />
      <button (click)="signUpAttempt()">SIGN UP</button>
      <button (click)="this.signUp = false">BACK</button>
    </form>
  </div>


  <div class="blinds" *ngIf="this.signIn">
    <form>
      <input type="text" placeholder="username" required #uname />
      <input type="password" placeholder="password" required #pword />
      <button (click)="loginAttempt()">SIGN IN</button>
      <button (click)="this.signIn = false">BACK</button>
    </form>
  </div>


  <div class="buttons">
    <p class="button" (click)="this.signUp = true" *ngIf="this.guest">Register</p>
    <p class="button" (click)="this.signIn = true" *ngIf="this.guest">Sign in</p>
    <p class="button" (click)="logout()" *ngIf="this.user">Logout</p>
  </div>
  <!-- <button (click)="logout()" style="position: absolute; top: 0; right: 0">
    LOGOUT
  </button> -->

  <div class="frame"></div>
</div>
